<!DOCTYPE html>
<html>
<head>
    <title>All Cars</title>
</head>
<body>
    <h1>All Cars</h1>
    <a href="{{ url_for('index') }}">Go to homepage</a>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Mark</th>
                <th>Fuel</th>
                <th>Grade</th>
                <th>Start Year</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car.full_name }}</td>
                <td>{{ car.mark }}</td>
                <td>{{ car.semester_number }}</td>
                <td>{{ car.grade }}</td>
                <td>{{ car.start_year }}</td>
                <td>{{ car.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
